/* Custom CSS File for Buyers to Modify */
.property-details{
border:none;
padding:0px;
margin-top: 0px;
padding-top: 0px;
border-top: 1px solid #DFDFDF;
border-radius: 0px;
}
.intro { position:absolute !important; bottom:0px;} 
.stipline span:nth-child(2) {
    display: inline-block !important;
    font-size: 11px;
    line-height: 13px;
    vertical-align: middle !important;
    width: 85%;
}
.header-wrapper{ margin-bottom:15px; }
.property-details ul li{
border-radius:none;
}
.property-details ul li.ui-corner-top{
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
border:none;

}
.property-details ul.tab li a{
text-transform:capitalize;
outline:none;
font-family: Roboto, Helvetica, Arial, sans-serif;
position:relative;
color:#7b7b7b;
font-weight:lighter;
}
.property-details ul.tab li.ui-tabs-active a{
color:#37B3D9;
}
.property-details .ui-tabs-nav .ui-tabs-anchor{
padding-left:22px;
}

.property-details ul.tab li a.photos:before{
content:"\f03e";
font-family:'FontAwesome';
font-size:15px;
position:absolute;
left:0px;
 top: 18%;
}
.property-details ul.tab li a.floor:before{
content:"\f1c5";
font-family:'FontAwesome';
font-size:15px;
position:absolute;
left:0px;
}
.property-details ul.tab li a.video:before{
content:"\f03d";
font-family:'FontAwesome';
font-size:15px;
position:absolute;
left:2px;
}
.property-details ul.tab li a.map:before{
content:"\f041";
font-family:'FontAwesome';
font-size: 17px;
position: absolute;
left: 7px;
}
.property-details ul.tab li a.transport:before{
content:"\f0d1";
font-family:'FontAwesome';
font-size:15px;
position:absolute;
left:0px;
top:6px;
}





.property-details .ui-state-default, .property-details .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
background:none;
}
.property-details ul li.ui-state-active{
border-color:#d3d3d3;
}
.property-details ul li.ui-state-active a{
background:transparent;
}


.property-details .ui-widget-header{
background:none;
border:none;
margin-left: 18px;
padding-bottom: 5px;
padding-top: 6px;
}
.property-details .ui-tabs-panel{
border:1px solid #dedede;
border-left:0px;
border-right:0px;
border-bottom:0px;
position:relative;
}
.property-details .video-label{
display:none;
}
#overview .property-details .property-video{
padding:0px;
}
#floor-plan #property-slider-two{
height: 385px;
overflow:hidden;
}
#floor-plan #property-slider-two .flex-direction-nav{ 
top: 45px;
width: 100%;
position:absolute;
}
#floor-plan #property-slider-two .flex-direction-nav{
position: absolute;
top: 50%;
width: 100%;
margin-top: 0px;
}

#floor-plan #property-slider-two a.flex-next{
position: absolute;
top: -7px;
opacity:0.5;
cursor:pointer;
}
#floor-plan #property-slider-two a.flex-prev{
position: absolute;
top: -7px;
opacity:0.5;
cursor:pointer;
}
#floor-plan #property-carousel-two{
padding:0px;
}
#floor-plan #property-carousel-two .flex-direction-nav{
position: absolute;
top: 55px;
width: 100%;
}

#floor-plan #property-carousel-two a.flex-next{
position: absolute;
top: -7px;
opacity:0.5;
cursor:pointer;
}
#floor-plan #property-carousel-two a.flex-prev{
position: absolute;
top: -7px;
opacity:0.5;
cursor:pointer;
}
#floor-plan #property-carousel-two a.flex-next:hover,#floor-plan #property-carousel-two a.flex-prev:hover{
opacity:1;
}
#floor-plan 	#property-slider-two-wrapper{
padding:0px;
border:none;
background:none;
}
#photo-slider #property-detail-flexslider .flex-viewport{
width: 724px;
}
#overview #property_map1 {
border: none;
width: 100%;
height: 300px;
margin-bottom: 15px;
}
#map-canvas{
width: 100%;
height: 400px;
margin-bottom: 15px;
}
#map-canvas img{max-width:none}

#tabs-4 span {
width: 24%;
display: inline-block;
text-align: center;
margin-bottom: 18px;
font-family: Roboto, Helvetica, Arial, sans-serif;
font-size:16px;
color:#7b7b7b;
cursor:pointer;
}
#tabs-4 .active-span{
color:#000;
margin-left:0px;
float:none;
}
.near-locations .widget .locations{
background:#f2f2f2;
margin-bottom: 0px;
}
.location-grid{
background:#fff;
}
.near-transport {
  padding: 20px;
}
.transport-icon {
  float: left;
  margin-right: 20px;
  width: 65px;
}
.transport-details {
  float: left;
  width: 140px;
}
.transport-details p{
margin:0px;
}
.transport-name{
font-size:15px;
color:#272727;
text-transform:uppercase;
font-weight: 900;
}
.transport-dis img{
margin-right:10px;
}
p.transport-dis{
  margin-top: 5px;
  font-size: 15px;
}
.distance-mark{
border-radius:10px;
height:6px;
overflow:hidden;
background:#f2f2f2;
 margin-top: 12px;
}
.border-btm{
border-bottom:1px solid #dedede;
}
.con-developer-btn {
	  display: inline-block;
	  margin-top: 22px;
	  margin-bottom: 16px;
	  font-size: 25px;
	  background:#ec894d url(../images/icon.png) no-repeat 11px center !important;
	  color: #fff;
	 padding: 10px 16px 10px 35px;
	  /* text-transform: uppercase; */
	  border-radius: 0px;
	  border: none;
	  text-shadow: none;
	  background-size: 8% !important;
	    line-height: 35px;
}
.ful-width-btn{
	width:100% !important;
}
.sky-blue{
	background:#4DC7EC;
}
.round-none{
	border-radius:none;
}
.color-white{
	color:#fff;
}
.sky-blue .close{
	font-size: 29px;
	line-height: 28px;
}
#tabs .bx-wrapper .bx-viewport{
	box-shadow:none;
	border:none;
	left:0px;
}
#tabs .bx-wrapper{
	padding-bottom:15px;
}
#tabs .bx-wrapper .bx-controls-direction a{
	top:35%;
}
#tabs .bx-wrapper .bx-prev{
background:url(../images/left.png) no-repeat center;
}
#tabs .bx-wrapper .bx-next{
background:url(../images/right.png) no-repeat center;
}
#tabs .bx-wrapper li a{
		float:none;
		padding-right: 30px;
}
#tabs .bx-wrapper li {
	text-align:center;
}
#floor-plan #property-carousel-two .slides img{
width:auto;
}
.form-left{
	width:310px;
	float:left;
	position:relative;
}
.form-right{
	width:200px;
	float:right;
	font-size: 18px;
    font-weight: lighter;
    color: #181818;
}
.form-left  .enquiry-form{
	  padding: 5px 0px 0px;
}
.form-left .con-method{
	display:block;
}
.gap-seperator{
padding:5px 0px;
}
span.property-status-name {
  font-size: 15px;
  color: #454545;
}
span.property-address ,.con-method{
  font-size: 14px;
}
.form-right img{
  border: 5px solid #EFEFEF;
  margin-bottom:10px; 
}
span.property-price{
   font-size:13px;
   color:#4DC7EC;
}
.form-left select {
   margin: 0 0px 10px;
   border-radius: 0px;
   border-radius: 0px;
  width: 306px;
  height: 35px;
  border: 1px solid #CDCDCD;
  box-shadow: inset 0px 0px 2px rgba(232, 232, 232, 0.99);
}
p.sub-form-heading {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
  color: #3F3F3F;
}
.form-left label span {
  display: inline-block;
    font-size: 15px;
}
.form-left .label-input input{
	margin:0px;
}
span.property-address1{
  font-size: 20px;
  font-weight: lighter;
  color: #747474;
  line-height:25px;
  display:block;
}
.enquiry-form .error-container{
	display:none !important;
}
.widget .enquiry-form input[type="text"]{
	  margin-bottom: 5px
}
.val-error{
	color:#f00;
	margin:1px 0px 3px 0px;
	display:inline-block;
}
p.message-reply {
  margin-bottom: 0px;
  margin-top: 10px;
}
#advice-form{
	margin-bottom:0px;
}
.widget .agent-info img{
	border:0px;
}
#con-method{
	margin-top:0px;
	display: inline-block;
	margin-left: 10px;
}
.agent-info .modal{
	border-radius:0px;
	display:none;
}
#tabs .bx-wrapper .bx-viewport{
	background:none;
}
.display_none{
	display:none !important;
}
.left-filter {
  
  width: 100%;
  margin-right: 20px;
}
.price-con .dropdown {
    display: inline-block;
    margin-right: 26px;
}
span.ui-slider-handle.ui-state-default.ui-corner-all {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #4D4D4D;
  border: 6px solid #868686;
  outline: none;
}
.ui-slider-tooltip {
  background: #C8C8C8;
  color: #242424;
  font-size: 10px;
  border-radius: 21px;
  padding: 2px 10px;
}
.ui-slider-tooltip:after {
   content: "";
   position: absolute;
   border-top: 10px solid #c8c8c8;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   top: 20px;
   left: 50%;
   margin-left: -10px;
}
div#sizeslider {
  border-radius: 15px;
  border: 2px solid #f5f5f5;
}
div#priceslider {
  border-radius: 15px;
  border: 2px solid #f5f5f5;
}
.ui-widget-header{
	background:#4dc7ec;
}
.price-con .slider-horizontal{
	width: 30% !important;
}
.left-filter .label {
  background: none;
  float: left;
  color: #474747;
  font-weight: lighter;
  font-size: 14px;
}
.right-filter .label {
  background: none;
  float: left;
  color: #474747;
  font-weight: lighter;
  font-size: 14px;
}
.field-container {
  margin-top: 25px;
  margin-bottom:10px;
 }
.cus-margin-top{
  margin-top:73px;
}
.select-grid{
 margin-top:14px;
}
.margin-none{
  margin-top:0px;	
}
.right-filter select,.left-filter select{
  outline: none;
  width: 100%;
  border-radius: 0px;
  height: 35px;
  border: 1px solid #E5E5E5;	
  margin:0px;
}
.filter-form input[type="button"] {
    margin-right: 13px;
    padding: 5px 0;
    width: 165px;
}
#filter-loader{
  display:none;	
}
.dropdown .dropdown-toggle {
	border-radius: 0;
}
.dropdown .dropdown-menu{
    border-radius: 0;	
}
.as-form-wrap .small .selectwrap input {
    width: 223px;
}
.advance-search .main-search {
    display: block;
    float: right;
	position: relative;
}
.advance-search .main-search .real-btn{
	margin-top:8px;
}

.avail-properties {
    color: #394041;
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    position: relative;
    top: 8px;
}
.advance-search .more-option-trigger{
	text-align: left;
}
.advance-search .option-bar{
	height:auto;
}
.ui-slider-tooltip{
  /* display:none; */
}
.none-found {
  margin-bottom: 14px;
  font-size: 20px;
}
.location-grid .market-info{
   padding: 0;
}
.location-grid .market-info li{
  border:none;
  padding-left: 30px;
  background: url("../images/feature-list-bullet.png") no-repeat scroll 17px 15px rgba(0, 0, 0, 0);
  font-size:16px;
}
.location-grid .market-info:first-child li:first-child{
	border-top:none;
}.location-grid .market-info:last-child li:last-child{
	border-bottom:none;
}
.location-grid .market-info:last-child{
	padding-bottom:5px;	
}
.field-container-sidebar {
    padding-left: 15px;
    padding-top: 15px;
	padding-top: 10px;
}
.field-container-sidebar select{
	border-radius: 0;
    height: 34px;
    margin: 0;
    max-width: 94%;
    width: 94%;
}
#get_average_price {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
.market-info-form{
	margin-bottom:0px;
}
.widget ul.market-info li:first-child{
	border-top:0px;
}
.average_price_container .title {
	margin:0px;
	padding-top:0px;
}
.widget ul.market-info .more-link{
	background:none;
}
.widget ul.market-info li.more-link a{
	color:#fff;
	display: block;
    width: 75%;
}
.widget .location-grid .avg-price{
	font-size:18px;
}
.widget .location-grid .avg-rent{
	font-size:18px;
	border-top:1px solid #dedede;
}
.left-filter .slider-horizontal{
	margin-left: 10px;
    margin-right: 10px;
}
#floor-plan-drag-and-drop {
    background-color: #efefef;
    border: 3px dashed #dfdfdf;
    margin-bottom: 10px;
}
.advance-search .more-options-wrapper .london-zone label,.advance-search .more-options-wrapper .yield label{
	margin-bottom:10px;
}
.advance-search .more-options-wrapper .features label[for="features"] {
    display: block;
    margin-bottom: 10px;
}
.advance-search .more-options-wrapper .features .option-bar{
	margin-left: 0;
    margin-right: 20px;
    margin-top: 0;
}
.Property_Market_Info_Widget h3.title,.Property_Travel_Widget h3.title{
	background:none;
	margin-bottom:0px;
}

.sticky-sidebar{
	position: static;
	
	z-index:10;
}
.row{position:relative;}


#tabs-4 .location-grid .near-transport{
	float:left;
	width:45%;
	border-bottom:none;
}
#tabs-4 .location-grid .near-transport .transport-details{
	width:40%;
}
#tabs-4 .location-grid .near-transport .transport-details .dis{
	width:50%;
	margin-bottom:0px;
}
#tabs-4 .location-grid .transport-seperator{
	height:1px;
	width:100%;
	background:none repeat scroll 0 0 #dedede;
}
.icon-graph {background:url(../images/graph.png) no-repeat center;}
.option-bar.features {width: 100%;}
span.selectwrap .selectbox-wrapper + .selectbox {
  display: none;
}
.mobile-cntct-form{display:none;}
.mobile-enq {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #fff;
  z-index: 1000;
  left: 0px;
  display: none;
  text-align: center;
  box-shadow: 0px -2px 3px rgba(0,0,0,0.1);
}
.modal{
  z-index: 20000;
}
#property-detail-flexslider .flex-direction-nav .flex-next{
  right: 44px;
}
.modal-backdrop{
  z-index:10000;
}
.enquiry-form input[type="text"], .enquiry-form input[type="email"], textarea {
    width: 94%;
}
.form_content {
    font-size: 11px;
    margin-bottom: 20px;
    margin-top: 0;
}
.form_content a{
	color:#ec894d
}
.enquiry-form label.error{
	display:none !important;
}
.mobile-heading{ display:none; }
#footer-wrapper {
  background: none;
  padding-bottom: 0px;
}
.advance-search{
  margin-top: 75px;
}
.menu-and-contact-wrap{
	width:70%;
}
#logo{
	margin-bottom: 10px;
}
#logo a span{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: 900;
	color: #5DBEB2;
	position: relative;
	top: 6px;
}

.mobile-header{
	display:none;
	}
.fixed-mobile-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  background: #252A2B;
  z-index: 1000;
  top: 0px;
  left:-100%;
  padding-top: 10px;
  box-shadow: 3px 0px 8px rgba(0,0,0,0.3);
  text-align:left;
}
.close-menu {
  position: absolute;
  right: 9px;
  top: 1.8%;
  width: 30px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}
.fixed-mobile-menu  ul{margin:0px;padding:0px;  margin-top: 12px;}
.fixed-mobile-menu ul li {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  border-top: 1px solid #5A5A5A;

}
.fixed-mobile-menu ul li:last-child {
  border-bottom: 1px solid #5A5A5A;
}
.fixed-mobile-menu ul li a{color:#fff;}
.fixed-mobile-menu ul li a:hover{color:#fff;}
.fixed-mobile-menu a{text-align:left;}
.fixed-mobile-menu a img {width: 20%;}
#logo .fixed-mobile-menu a span{font-size: 19px;}
.search-icon {  position: absolute;  right: 12px;  width: 30px;  height: 30px;  top: 50%;
  margin-top: -15px;  line-height: 16px;  cursor: pointer;}
#logo .search-icon a{display:inline-block;width:30px;height:30px;  margin-top: 0px;
  margin-left: 0px;background:url(../images/search.png) no-repeat center;}
 input#sub-btn {
  font-size: 22px;
  padding: 15px 30px;
} 
.page-head{
	display:none;
}
.contents{
	margin-top:45px;
}
.single .page-head
{
	display:block;
}
.single .contents{
	margin-top:0px;
}
#TellAFriend_alertmessage{
	display:none !important;
}
div#TellAFriend_BoxLabel_Page input[type="text"],div#TellAFriend_BoxLabel_Page textarea {
  width: 96%;
  display: block;
}
#TellAFriend_BoxContainer{
	left:50% !important;
	top:50% !important;
	margin-top:-190px !important;
	margin-left:-195px !important;
	position: fixed;
	z-index:99999;
	border-radius:0px;
	border:0px;
	height: 405px;
}
#TellAFriend_BoxClose{
	width:20px;
	height:20px;
	padding: 0px;
	margin: 0px;
}
#TellAFriend_BoxLabel_Page{
	font-size: 14px;
	font-weight: 300;
	line-height:inherit;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}
#TellAFriend_BoxLabel_Page input[type="button"]{
	font-size: 15px;
	background: #ec894d ;
	color: #fff;
	padding: 10px 16px 10px 16px;
	border-radius: 0px;
	border: none;
	text-shadow: none;
	background-size: 8% !important;
	line-height: 15px;
}
#TellAFriend_BoxClose a{
	background:url(../images/close.png)no-repeat center;
	display:inline-block;
	width:20px;
	height:20px;	
	font-size:0px !important;
}
#TellAFriend_BoxContainerHeader{
	border-radius:0px;
	padding: 10px;
}
#TellAFriend_BoxTitle{
	font-size: 22px;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif;

}
#TellAFriend_BoxContainerFooter{
	z-index:999;
}
.tell-friend a {
	position:relative;
	display:inline-block;
	width: 110px;
	height: 15px;
}
.tell-friend > a:before {
  content: "\f003";
  position: absolute;
  right: 0px;
  font-family: FontAwesome;
  font-size: 18px;
  left: 19px;
  color: #999;
}
.property-item figure {    margin-bottom: 10px;}
.propertytypr { min-height:45px; margin-bottom:5px;}
.tell-friend > a:after{
	content:"Tell a friend";
	position:absolute;
	right:0px;
	color:#7E8283;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	
}
.tell-friend img{
	display:none;
}
  /*---------------------Media queries---------------------------*/
@media (max-width:1024px){
	.as-form-wrap .small .selectwrap input {
		width: 165px;
	}
	#tabs-4 .location-grid .near-transport .transport-details{
		width:60%;
	}
	#tabs-4 .location-grid .near-transport{
		width: 43%;
	}
	#myModal{
		display:none;
	}
}
@media (max-width:980px){

	.header-wrapper{
	  position: fixed;
	  width: 100%;
	  top: 0px;
	  z-index: 100;
	  
	}
	.single-property .page-head h1.page-title {margin-top:45px;}
	.detail {
  margin-top: 0px;
}
	.sidebar ,.sidebar-wrap, .sticky-sidebar{
		position:static;
	}
	.sticky-sidebar{
	position:static !important;
	width:100% !important;
	display:none;
	}
	.mobile-cntct-form {display:block;}
	.mobile-cntct-form .sticky-sidebar{display:block;}
	.menu-and-contact-wrap{width:100%;}
	.mobile-header{
		display:block;
	}
	#header{
		display:none;
	}
	#logo{
		text-align:left;
	}
	#logo a{
		  margin-top: 10px;
	}
	 #logo a img{
		width:21%;
	}
	.menu-icon {
	  position: absolute;
	  width: 25px;
	  height: 25px;
	  top: 50%;
	  left: 13px;
	  cursor: pointer;
	  margin-top: -12px;
	}
	#logo .menu-icon img{
	  width:100%;
	}
	.fixed-mobile-menu a {
	  font-family: "Roboto", Helvetica, Arial, sans-serif;
	  font-size: 18px;
	  font-weight: 900;
	  color: #5DBEB2;
	}
	.fixed-mobile-menu ul li a{
		font-size:15px;
		font-weight: 300;
	}
	.mobile-enq .con-developer-btn
	{
		padding-left:50px;
	}
}
@media (max-width:768px){
	#priceslider{
		display:none;
	}
	.filter-form input[type="button"]{
		margin-top:0px;
	}
	.as-form-wrap .small .selectwrap input {
		width: 110px;
	}
	#floor-plan #property-slider-two{
		  height: auto;
	}
	.bx-wrapper .bx-controls-direction a{
		z-index:1;
	}
	.con-developer-btn{
	display:none;
	}
	.mobile-enq,.mobile-enq .con-developer-btn{
		display:inline-block;
	}
	.mobile-enq .con-developer-btn{
		margin:5px 0px;
	}
	#property-detail-flexslider .flex-direction-nav .flex-next {
	    right: 43px;
	}
}

@media (max-width:640px){
	.ui-tabs .ui-tabs-panel{
	padding:0px;
	}
	.form-left{
	float:none;
	width:100%;
	}
	.form-right{
	float:none;
	width:100%;
	}
	.price-con{
	float: none;
    width: 100%;
	}
	.left-filter{
	float: none;
    margin-right: 0px;
    width: 100%;
	}
	.right-filter{
	float:none;
	width:100%;
	}
	.filter-form input[type="button"]{
	width:100%;
	}
	.price-con .dropdown{
	margin-right: 16px;
	}
	.as-form-wrap .small .selectwrap input {
		width: 91.4%;
	}
	#tabs-4 .location-grid .near-transport{
		width: 91%;
		border-bottom:1px solid #dedede;
	}
	#tabs-4 .location-grid .near-transport .transport-details{
		width:50%;
	}
	#tabs-4 .location-grid .near-transport .transport-details .dis{
		width: 65%;
	}
	#tabs-4 .location-grid .transport-seperator{
		display:none;
	}
	#property-detail-flexslider .flex-direction-nav .flex-next {
		right: 0px;
	}
	.form-right{
		display:none;
	}
	.form-left select{
		width: 100%;
	}
	.enquiry-form input[type="text"], .enquiry-form input[type="email"], textarea {
		width: 94%;
	}
	.mobile-heading{ display:block; }
	.form-left select {
		width: 96.5%;
	}
	.page-head h1.page-title span{
		padding-left:0px;
		font-size: 15px;
		line-height: 20px;
	}
	#tabs .bx-wrapper .bx-viewport{
		padding: 5px 0;
	}
	#tabs .bx-wrapper .bx-controls-direction a {
		top: 53%;
	}
}
@media (max-width:480px){
	#logo a {
	  margin-top: 10px;
	  margin-left: 40px;
	}
}
@media (max-width:435px){
	#logo a span{font-size:20px;}
	.price-con .dropdown{
	margin-top: 15px;
	display:block;
	}
	.as-form-wrap .small .selectwrap input {
		width: 84%;
	}
	.filter-form input[type="button"]{
	margin-top:0px;	
	}
	#tabs-4 .location-grid .near-transport{
		width: 83%;
	}
	#tabs-4 .location-grid .near-transport .transport-details {
		width: 55%;
	}
	#tabs-4 .location-grid .near-transport .transport-details .dis {
		width: 70%;
	}
	.form-left select {
		width: 99%;
	}
	.avail-properties{
		font-size:20px;
	}
	.advance-search .search-heading{
		font-size:15px;
	}
	.advance-search .search-heading .fa-search{
		font-size:18px;
		margin-right:0px;
	}
}
